
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body,
html {
    height: 100%;
    background-color: #f8f8f8;
}


.reset-password-container{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.reset-password-box{
     background-color: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
}
.reset-password-container h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}
.reset-password-container .reset-text-blw  {
   margin-bottom: 25px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.reset-password-container .reset-password-form {
    margin-top: 15px;
}

.reset-password-container  .change-pswrd  label{
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    display: inline-block;
}
.reset-password-container  .change-pswrd   input{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 15px;
    font-size: 14px;
}
.reset-password-form input[type="email"]:focus {
    border-color: #888;
    outline: none;
}
.reset-password-form .sbmit-btn{
      width: 100%;
    padding: 12px;
    background-color: #c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.reset-password-container .reset-password-msg {

    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    display: flex;
    margin-bottom:10px;
}
.bg-light-rd{
       background-color: #f9d2d2;
}
.bg-light-grn{
background-color:#f0fdf4;
}
@media(max-width:575px){
.reset-password-box{
    max-width: 100%;
    padding: 20px 20px;

}
.reset-password-container{
   padding: 0px 17px;
}
}