* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body,
html {
    height: 100%;
    background-color: #f8f8f8;
}

.forgot-pswrd-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.forgot-box {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.forgot-box h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}
.forgot-box .inside-forget-para  {
    margin-bottom: 25px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.forget-form {
    margin-top: 15px;
}
.forget-form-email-address {
    display: flex;
    flex-direction: column;
}
.forget-form-email-address label {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    display: inline-block;
}
.forget-form-email-address input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 15px;
    font-size: 14px;
}
.forget-form-email-address input[type='email']:focus {
    border-color: #888;
    outline: none;
}
.forgot-pswrd-container .sbmit-btn {
    width: 100%;
    padding: 12px;
    background-color: #c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.forgot-pswrd-container .back-to-lgin-btn {
    color: #555;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.forgot-pswrd-container .forget-msg {
     padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
 
}
.bg-light-rd{
       background-color: #f9d2d2;
}
.bg-light-grn{
background-color:#f0fdf4;
}
/* .forgot-pswrd-container .forget-msg p {

} */

@media (max-width: 575px) {
    .forgot-box {
        max-width: 100%;
        padding: 20px 20px;
    }
    .forgot-pswrd-container {
        padding: 0px 17px;
    }
}
