.profileImgContainer {
    position: relative;
}

.profileImg {
    position: relative;
    width: 120px;
    height: 120px;
}
.profileImg > img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileHeart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.profileHeart:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.8);
}

.profileHeart:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
@media(max-width:767px){
    .profileImg {
   
    width:100px;
    height: 100px;
}
}
@media(max-width:575px){
    .profileImg {
   
    width:84px;
    height: 84px;
}
}