.libraryContainer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-bottom: 43px;
}

.libraryContainer .hdr {
    padding: 13px 0 13px 37px;
    border-bottom: 1px solid #0000001a;
    font-size: 20px;
    font-weight: 600;
}

.libraryContainer .editMvmbt {
    padding: 0px 19px;
    margin-top: 25px;
}

.editMvmntCntnt {
    display: flex;
    width: 100%;
}

.catCtn {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    position: relative;
    padding: 0px 18px;
}

/* .catCtn::after {
    content: '';
    background-image: url('/dropdown_icon.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 61px;
    right: 50px;
} */

.catCtn select {
    appearance: none;
}

.catCtn label {
    font-size: 16px;
}

.cateSel {
    color: #000;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 16px;
    transition: border-color 0.2s;
    background-color: #fbfbf9;
}

.cateSel:focus {
    border-color: #000;
    outline: none;
}

.subcategory {
    margin-top: 26px;
    width: 50%;
}

.workoutsVdo {
    margin-top: 52px;
    margin-bottom: 18px;
}

.workoutsVdo h2 {
    color: #000;
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 600;
}

.uploadBox {
    text-align: center;
    background-color: rgba(1, 1, 1, 0.01);
    border: 1px dashed rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 25px;
    position: relative;
}
.workoutsVdo .videoUpload {
    display: none;
}

.uploadLabel {
    cursor: pointer;
    color: #777;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadIcon {
    margin-bottom: 23px;
}

.wrkoutVdoPara {
    color: #000;
    display: flex;
    flex-direction: column;
}

.workVdioBtn {
    color: #000;
    font-size: 13px;
    background-color: rgba(180, 2, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 12px 20px;
    font-weight: 600;
}

.deltBtn {
    margin-top: 42px;
}

/* Buttons shared style */
.btnBlack {
    background: #000;
    color: #fff;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
}
.btnRed {
    background: #b40200;
    color: #fff;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
}
.btnRed:hover {
    color: #b40200;
    border: 1px solid #b40200;
    background-color: white;
}
.btnBlack:hover {
    color: #000;
    border: 1px solid #000;
    background-color: white;
}

.cateSel option {
    background-color: #fbfbf9;
    border: 1px solid #0000001a;
    border-radius: 5px;
}

.cateSel option:hover {
    background-color: #000;
    color: white;
}

/* For Safari/Chrome specific tweak */
.cateSel:focus option:checked {
    background-color: #fbfbf9;
    color: #b40200;
}

/* Dropdown Wrapper */
.customDropdown {
    position: relative;
    width: 100%;
}
.mvnmentLibraryBtns {
    display: flex;
    justify-content: space-between;
}

/* Dropdown Button */
.dropdownBtn {
    width: 100%;
    border: 1px solid #0000001a;
    border-radius: 5px;
    padding: 7px 25px;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dropdown List */
.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fbfbf9;
    border: 1px solid #0000001a;
    border-radius: 5px;
    margin-top: 8px;
    list-style: none;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
}

/* Dropdown Items */
.dropdownItem {
    padding: 15px 25px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    transition: background 0.2s;
}

/* Hover Effect */
.dropdownItem:hover {
    background: #f0f0ed;
}

/* Default arrow */
.dropdownBtn::after {
    content: '';
    background-image: url('/dropdown_icon.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 16px;
    top: 64%;
    transform: translateY(-50%); /* nice centering */
    transition: transform 0.3s ease; /* smooth rotation */
}

/* Rotate when active/open */
.active::after {
    transform: translateY(-50%) rotate(180deg);
    top: 39%;
}
/* Focus state */
.dropdownBtn:focus,
.dropdownBtn:focus-visible {
    color: #000;
    border-color: #000;
    outline: none;
}

@media (max-width: 1399px) {
    .libraryContainer .hdr {
        padding: 13px 0 13px 37px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .movementLibrarySec .subcategory {
        width: 100%;
    }

    .movementLibrarySec .editMvmntCntnt {
        flex-direction: column;
        gap: 18px;
    }

    .movementLibrarySec .hdr {
        padding: 14px 0 12px 18px;
        font-size: 20px;
    }

    .movementLibrarySec .editMvmbt {
        margin-top: 20px;
        padding: 0px 0px;
    }

    .movementLibrarySec .deltBtn {
        margin-top: 15px;
    }
    .movementLibrarySec .dropdownBtn {
        padding: 10px 14px;
    }
    .movementLibrarySec .dropdownBtn:after {
        right: 15px;
    }
    .movementLibrarySec .editMvmntCntnt {
        flex-direction: column;
        gap: 25px;
    }
    .movementLibrarySec .MovementLibrary .catCtn {
        flex-direction: column;
        flex: 1;
        gap: 9px;
        padding: 0 18px;
        display: flex;
        position: relative;
    }
}
@media (max-width: 575px) {
    .mvnmentLibraryBtns {
        flex-direction: column;
    }
    .mvnmentLibraryBtns button {
        max-width: 170px;
    }
}
