.add-user-container {
    /* padding: 2rem; */
    max-width: 1000px;
    /* margin: 0 auto; */
}

.add-location-container .page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom:10px;
}

.page-subtitle {
    color: black;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.add-location-container .form-group input,
.form-group select {
    padding: 0.5rem 0.75rem;
 border:1px solid #0000001A;
    border-radius: 5px;
    font-size: 14px;
}
.add-location-container .form-group input:focus{

    border: 1px solid black;
   outline:none;
}

.full-width {
    grid-column: 1 / -1;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}


.add-location-container .btn {
    padding: 7px 10px;
    font-size: 14px;

    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.4s;
    font-weight: 600;
}

.add-location-container .btn.cancel {
    background-color: #000;
    color: #fff;
}
.add-location-container  .btn.cancel:hover {
    color: #000;
    background-color: white;
    border: 1px solid black;
}

.add-location-container  .btn.save {
    background-color: #b40200;
    color: #fff;
}
.add-location-container  .btn.save:hover {
    background-color: white;
    color: #b40200;
    border: 1px solid #b40200;
}
.message {
    margin-top: 1rem;
    font-weight: 500;
}

/* ======================== */
.add-location-container {
     display: flex; 
    gap: 2rem;
    /* padding: 2rem; */
    max-width: 1200px;
    /* margin: 0 auto; */
}

.left-section,
.right-section {
    flex: 1;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.list-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.location-list {
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 250px;
    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.location-list::-webkit-scrollbar {
    display: none;
}

.location-item {
    padding: 0.6rem 0.8rem;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #333;
    background: #f9f9f9;
    border: 2px solid #eee;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.no-data {
    color: #777;
    font-style: italic;
    padding: 0.5rem;
}
@media(max-width:991px){
    .add-location-container {
    flex-direction: column;
}
}