.add-class-container {
    display: flex;
    gap: 2rem;
    /* padding: 2rem; */
    max-width: 1200px;
    margin: 0 auto;
}

.left-section,
.right-section {
    flex: 1;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.page-subtitle {
    color: #666;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 14px;
}
.form-group input:focus {
    border: 1px solid #000;
    outline: none;
}

.full-width {
    grid-column: 1 / -1;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.add-class-container .btn {
    padding: 7px 10px;
    font-size: 14px;

    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.4s;
    font-weight: 600;
}

.add-class-container .btn.cancel {
    background-color: #000;
    color: #fff;
}
.add-class-container .btn.cancel:hover {
    color: #000;
    background-color: white;
    border: 1px solid black;
}

.add-class-container .btn.save {
    background-color: #b40200;
    color: #fff;
}
.add-class-container .btn.save:hover {
    background-color: white;
    color: #b40200;
    border: 1px solid #b40200;
}
.class-list {
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.class-list::-webkit-scrollbar {
    display: none;
}

.class-item {
    padding: 0.6rem 0.8rem;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #333;
    background: #f9f9f9;
    border: 2px solid #eee;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.list-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.no-data {
    color: #777;
    font-style: italic;
    padding: 0.5rem;
}
@media (max-width: 991px) {
    .add-class-container {
        flex-direction: column;
    }
    .add-class-container .form-grid {
        display:block;
    }
}
@media (max-width: 767px) {
    /* .add-class-container{
        padding:0px;
    }*/
}
@media (max-width: 567px) {
    /* .add-class-container .form-grid {
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    } */
}
