/* ===== Global resets (optional) ===== */
:root {
    --sidebar-bg: #000000;
    --sidebar-width: 240px;
    --sidebar-collapsed-width: 80px;
    --accent-red: #b40200;
    --card-bg: #ffffff;
    --muted: #777;
    --page-bg: #fbfbf9;
}

* {
    box-sizing: border-box;
}
html,
body,
#__next {
    height: 100%;
    margin: 0;
}
/*new code for admin */

aside.sidebar.collapsed button.logout {
    background: none;
    border: none;
    padding: 16px 0px;
}
.dashboard-page {
    width: 100%;
    background: var(--page-bg);
}
/* ===== Layout (container) ===== */
.admin-layout {
    background: var(--page-bg);
    height: 100vh;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    overflow: hidden;
}
/* Sidebar */
.sidebar {
    width: var(--sidebar-width);
    background: var(--sidebar-bg);
    color: #fff;
    flex-direction: column;
    min-height: 100vh;
    transition: width 0.26s;
    display: flex;
    position: relative;
    overflow-y: auto;

    /* Hide scrollbar (Chrome, Edge, Safari) */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar (Webkit browsers) */
.sidebar::-webkit-scrollbar {
    display: none;
}

.admin-layout.collapsed .sidebar {
    width: var(--sidebar-collapsed-width);
}

.sidebar-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    align-items: center;
    gap: 10px;
    padding: 18px 36px 0px 36px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
}

/* brand */
.sidebar-brand {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ffffff4d;
    padding-bottom: 15px;
    /* margin-bottom:10px; */
}
aside.sidebar.collapsed .sidebar-top {
    /* border-bottom: none; */
    /* display: none; */
    padding: 0px;
}
aside.sidebar.collapsed .sidebar-top,
aside.sidebar.collapsed .sidebar-brand {
    /* border-bottom: none; */
    /* display: none; */
    /* padding:0px; */
}
.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.hamburger {
    cursor: pointer;
    font-size: 18px;
    padding: 6px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.02);
}

.admin-pnl .brand-text {
    font-weight: 700;
    font-size: 16px;
}

/* nav */
.admin-pnl .sidebar-nav {
    /* padding-top: 20px; */
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

.admin-pnl .sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-pnl .nav-item {
    padding: 10px 0 0px 11px;
    transition: background 0.3s ease-in-out;
    display: block;
}

.admin-pnl .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #ddd;
    text-decoration: none;
    padding: 10px 12px;
}

.nav-icon {
    width: 28px;
    text-align: center;
    font-size: 18px;
}

.nav-label {
    font-size: 16px;
}

/* active / hover */
.nav-item:hover .nav-link {
    background: #b40200;
    color: #fff;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}
.admin-pnl .nav-item.active .nav-link {
    background: var(--accent-red);
    color: #fff;
    font-weight: 600;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

/* collapsed adjustments */
.admin-layout.collapsed .brand-text {
    display: none;
}
.admin-layout.collapsed .nav-label {
    display: none;
}
.admin-layout.collapsed .nav-icon {
    margin-left: 6px;
}

/* footer area in sidebar */
.admin-pnl .sidebar-footer {
    padding: 16px 56px;
    position: sticky;
}
/*new code for admin */
.admin-pnl .collapsed .sidebar-footer {
    padding: 0px 0px 5px 0px;
}
.admin-pnl .logout {
    color: #fff;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 8px 0;
    display: flex;
}
/* .admin-pnl .collapsed .logout {
   
    padding: 12px 0;
} */
.admin-pnl .logout:hover {
    opacity: 0.7;
}
aside.sidebar.collapsed button.logout span {
    display: none;
}

/* ===== Main area (header + content + footer) ===== */
.admin-pnl .main-area {
    flex-direction: column;
    flex: 1;
    width: calc(100% - 240px);
    min-height: 100vh;
    display: flex;
}

/* header (top bar) */
.dashboard-header {
    height: 68px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 22px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
}
.dashboard-page article.card img {
    height: 79px;
    width: 59px;
}

/* header: left toggle (mobile) */
.header-toggle {
    /* display: none; */
    background: none;
    border: none;
    font-size: 18px;
    height: 100px;
    display: block;
    margin-right: 12px;
    cursor: pointer;
}

/* centered title */
/* .header-title {
    text-align: center;
    flex: 1;
    font-size: 16px;
    color: #111;
    font-weight: 600;
    height: 85px;
    margin-top: 50px;
} */
.header-title {
    text-align: left;
    color: #111;
    flex: 1;
    height: 85px;
    /* margin-top: 50px; */
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* right logo */
.header-right {
    display: flex;
    align-items: center;
}

.header-logo {
    max-height: 48px;
    object-fit: contain;
    /* max-height: 36px;
*/
}

/* content area */
.content-area {
    padding: 28px 34px;
    flex: 1;
    overflow-y: auto;
}

/* small spacer to align title when header present */
.page-header-spacer {
    display: none;
}

/* ===== Cards row ===== */
.admin-dsbr .cards-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
}
.admin-dsbr .btn-black,
.admin-dsbr .btn-red {
    transition: all 0.3s ease-in-out;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid transparent;
}

/* Black Button */
.admin-dsbr .btn-black {
    background: #000;
    color: #fff;
    border: 1px solid transparent;
}
.admin-dsbr .btn-black:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

/* Red Button */
.admin-dsbr .btn-red {
    background: var(--accent-red);
    color: #fff;
    border: 1px solid transparent;
}
.admin-dsbr .btn-red:hover {
    background: #fff;
    color: var(--accent-red);
    border: 1px solid var(--accent-red);
}

.admin-dsbr .card {
    background: #fff;
    justify-content: space-between;
    padding: 40px 30px;
    display: flex;
    border: 1px solid #0000001a;
    border-radius: 5px;
    padding: 26px 23px;
}

.admin-dsbr .card-title {
    color: #000;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.admin-dsbr .card-value {
    color: #000;
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 700;
}

.admin-dsbr .card-sub {
    font-size: 14px;
    color: #000;
    max-width: 170px;
}

/* instructor panel */
.instructor-panel {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
}

.graph-placeholder {
    height: 140px;
    border: 1px dashed #ddd;
    margin: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}

/* actions */
.admin-dsbr .panel-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.admin-dsbr .btn-black {
    background: #111;
    color: #fff;
}

.admin-dsbr .btn-red {
    background: var(--accent-red);
    color: #fff;
}
header.dashboard-header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* footer */
.admin-pnl .dashboard-footer {
    background: #fff;
    border-top: 1px solid #eee;
    padding: 14px 22px;
    text-align: center;
    font-size: 13px;
    color: #666;
}

.admin-pnl .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-user-btn {
    background-color: #b40200; /* Red */
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-user-btn:hover {
    background-color: #b71c1c;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.user-table thead {
    background-color: #1a1a1a;
    color: white;
}

.user-table th,
.user-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-placeholder {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

.edit-btn,
.delete-btn {
    margin-right: 8px;
    padding: 6px 12px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #d32f2f;
    color: white;
}

.delete-btn {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
}

.edit-btn:hover {
    background-color: #b71c1c;
}

.delete-btn:hover {
    background-color: #e0e0e0;
}
.close_btn {
    display: none;
}

@media (max-width: 1399px) {
    .nav-label {
        font-size: 15px;
    }
    .admin-dsbr .card-value {
        font-size: 18px;
    }
}

/* ===== Responsive behavior ===== */
@media (max-width: 980px) {
    /* .admin-layout { flex-direction: column; } */
    .sidebar {
        position: relative;
        width: 240px;
        height: auto;
    }
    .admin-layout.collapsed .sidebar {
        width: 80px;
    }
    .dashboard-header {
        padding: 12px 14px;
    }
    .header-toggle {
        display: block;
        margin-right: 12px;
    }
    .header-title {
        text-align: left;
        padding-left: 8px;
    }
}
@media (max-width: 767px) {
    .header-toggle{
        font-size:24px;
    }
      .last-name{
        display:none;
      }
    .header-logo {
        object-fit: contain;
        max-height: 40px;
    }
    .header-title {
        margin-top: 0px;
        height: unset;
    }
    /*new code for admin */
    .admin-pnl .sidebar {
        z-index: 10;
        width: 240px;
        height: auto;
        transition: transform 0.35s;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0); /* visible */
        transition: transform 0.35s ease; /* smooth */
        height: 100vh;
    }
    /*new code for admin */
    .admin-pnl.collapsed .sidebar {
        transform: translateX(-100%); /* slide out */
    }
    /*new code for admin */


    .admin-pnl .close_btn {
        display: block;
        position: absolute;
        top: 16px;
        right: 15px;
    }
    /*new code for admin */
    .admin-pnl .close_btn img {
        width: 18px;
        height: 18px;
    }
    .admin-dsbr .cards-row {
        grid-template-columns: repeat(1, 1fr);
    }
    .admin-pnl .content-area {
        padding: 28px 15px;
    }
    .nav-item:hover .nav-link {
        background: transparent;
    }
}
@media (max-width: 575px) {
    .admin-pnl .dashboard-page article.card img {
        width: 41px;
        height: 50px;
    }
    .admin-dsbr .panel-actions {
        width: 200px;
        flex-direction: column;
        gap: 20px;
    }
    .admin-dsbr .card-title {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .admin-dsbr .card-value {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .admin-dsbr .card {
        padding: 14px 20px;
    }
    .admin-dsbr .btn-black,
    .admin-dsbr .btn-red {
        padding: 5px 7px;
        font-size: 14px;
    }
    .header-title {
        font-size: 14px;
    }
}
